USE [master]
GO
/****** Object:  Database [SistemaDB]    Script Date: 24/11/2020 06:48:50 p. m. ******/
CREATE DATABASE [SistemaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SistemaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SistemaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaDB]
GO
/****** Object:  Table [dbo].[Compra_detalle]    Script Date: 24/11/2020 06:48:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra_detalle](
	[id] [int] NOT NULL,
	[producto] [varchar](100) NOT NULL,
	[precio] [decimal](6, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra_total]    Script Date: 24/11/2020 06:48:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra_total](
	[id_compra] [int] IDENTITY(1,1) NOT NULL,
	[total] [decimal](6, 2) NOT NULL,
	[direccion] [varchar](150) NOT NULL,
	[cliente] [varchar](150) NOT NULL,
	[tipo_entrega] [varchar](100) NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Compra_total] PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 24/11/2020 06:48:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precio] [decimal](6, 2) NOT NULL,
	[stock] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
